<strong>Hello, {{ deliveryman }}</strong>
<p>You have a new delivery available for pickup.</p>
<br />
<p>Check out the details below:</p>
<p><strong>Product: </strong>{{ product }}</p>
<p><strong>Recipient: </strong>{{ recipient }}</p>
<p><strong>Address: </strong>{{ street }}, Nº {{ number }} - {{city}}, {{state}} - {{ cep }}</p>